*{
    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #FDEBD0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo-destaque {
    color: #F75270;
}

h1{
    color: #F7CAC9;
}

.Cris1{
    width: 300px;
    height: auto;
    border: #F75270 2px solid;
    padding: 2px;
}